.addContact {
    display: flex;
    flex: 1 1 0%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
  }

  .ok {
    background: rgb(40, 173, 250);
    color: white;
    font-size: 1em;
    margin: 1em;
    padding: 0.25em 1em;
    border: 2px solid rgb(40, 173, 250);
    border-radius: 3px;
  }
  
  .cancel {
    background: white;
    color: rgb(40, 173, 250);
    font-size: 1em;
    margin: 1em;
    padding: 0.25em 1em;
    border: 2px solid rgb(40, 173, 250);
    border-radius: 3px;
  }