h1 {
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font: inherit
}

body {
  min-width: 600px;
  overflow: hidden;
  overflow-x: auto;
}

.main {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.title {
  color: black;
  font-size: large;
  font-weight: bold;
  margin-bottom: 15px;
}

button {
  cursor: pointer;
}